/*screen outside app*/
div.css-1wrcr25.egzxvld4 {
    background-color: #f0f0f0;
}

/*app*/
div.css-12oz5g7.egzxvld2 {
    background-color: #f0f0f0;
}

/*column metrics*/
div.css-1r6slb0.e1tzin5v2
{
    background-color: #f0f0f0;
    border: 2px solid #d4d4d4;
    padding: 5% 5% 5% 10%;
    border-radius: 10px;
}


/*title*/
div.css-zt5igj.e16nr0p32 {
    font-family: 'Mrs Eaves OT Roman';
    font-weight: 200;
    letter-spacing: 3px;
}   
    




/*metric label*/
label.css-1rh8hwn.e16fv1kl2 {

}

/*metric value*/
div.css-1xarl3l.e16fv1kl1 {
    font-family: 'Mrs Eaves OT Roman';
    font-weight: 200;
    letter-spacing: 3px;

}


